* {
    font-family: Arial, Helvetica, sans-serif;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    background-color: #fafafa;
    @include flex;
}

.card-container {
    border: 1px solid white;
    width: 180px;
    cursor: pointer;
}

.name {
    height: 60px;
    color: #e7fdff;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.name,
.pricecontainer,
.speed,
.volume {
    @include flex;
}

.price-innercontainer {
    display: flex;
    flex-direction: row;
    color: #e7fdff;
}

.pricecontainer {
    height: 120px;
}

.price {
    font-size: 40px;
}

.speed {
    background-color: #f8f8f8;
    height: 50px;
    color: #5f5f5f;
    font-size: 14px;
}

.volume {
    background-color: #eeeeee;
    text-align: center;
    height: 70px;
    color: #5f5f5f;
    font-size: 14px;
}

.mounth {
    align-self: flex-end;
    font-size: 14px;
}

.rubles {
    font-size: 12px;
}

.first {
    background-color: #229cab;
}

.first-price {
    background-color: #2cc1d5;
}

.second {
    background-color: #1f8972;
}

.second-price {
    background-color: #27ac8d;
}

.third {
    background-color: #c5544e;
}

.third-price {
    background-color: #f46a5f;
}

.fourth {
    background-color: #282f37;
}

.fourth-price {
    background-color: #333a44;
}

.selected {
    transform: scale(1.1);
}